/* .arch-section {
  width: 100%;
  padding: 40px 4%;
  background: #fff;
}

.arch-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.arch-card {
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}

.arch-card:hover {
  transform: translateY(-6px);
}

.arch-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; 
   margin-bottom: -25%;    
}


@media (max-width: 992px) {
  .arch-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}


@media (max-width: 768px) {
  .arch-section {
    padding: 30px 3%;
  }
  .arch-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}



@media (max-width: 992px) {
  .arch-section {
    padding: 30px 3%;
  }

  .arch-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .arch-img {
    margin-bottom: -20%;
  }
}


@media (max-width: 768px) {
  .arch-section {
    padding: 20px 12px;
  }

  .arch-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .arch-card:hover {
    transform: none;
  }

  .arch-img {
    margin-bottom: -15%;
  }
}


@media (max-width: 480px) {
  .arch-section {
    padding: 16px 10px;
  }

  .arch-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .arch-img {
    margin-bottom: -12%;
  }
}


@media (max-width: 360px) {
  .arch-grid {
    gap: 8px;
  }

  .arch-img {
    margin-bottom: -10%;
  }
} */