.arch-section {
  width: 100%;
  padding: 40px 4%;
  background: #fff;
}

.arch-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.arch-card {
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}

.arch-card:hover {
  transform: translateY(-6px);
}

.arch-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; 
   margin-bottom: -25%;     /* ← keeps the arch frame fully visible */
}

/* TABLET */
@media (max-width: 992px) {
  .arch-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .arch-section {
    padding: 30px 3%;
  }
  .arch-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}