.topbar {
  background: linear-gradient(90deg, #67242c 0%, #a85252 30%, #755504 70%, #976f03 100%);
  height: 35px;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.marquee {
  display: inline-flex;
  animation: scroll-right 25s linear infinite;
}

.marquee span {
   color: #ffd700; 
  font-size: 13px;
  font-weight: 500;
  margin-right: 80px;
  text-shadow: 0 0 8px rgba(255, 215, 0, 0.4); 
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}